<!-- <div class="container">
    <h1>Registration Form</h1>
    <form #regForm="ngForm" (ngSubmit)="regUser(regForm)">
        <div class="form-group">
            <input type="text" 
            class="form-control"
            ngModel
            name="name" 
            id="name"
            #name="ngModel"
            placeholder="Enter the User Name">
        </div>
        <div class="form-group">
            <input type="email" 
            class="form-control"
            ngModel
            name="email" 
            id="email"
            #fullName="ngModel"
            placeholder="Enter the email ID">
        </div>
        <div class="form-group">
            <input type="password" 
            class="form-control"
            ngModel
            name="password" 
            id="password"
            #fullName="ngModel"
            placeholder="Enter the password">
        </div>
        <div class="form-group">
            <input type="text" 
            class="form-control"
            ngModel
            name="role" 
            id="role"
            #fullName="ngModel"
            placeholder="Enter the role">
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div> -->
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Registration Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="reg-form" #logData="ngForm"
            (ngSubmit)="regUser(logData)">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Username" ngModel name="name" id="name" #name="ngModel">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Username" ngModel id="email" name="email" #email="ngModel">
            </mat-form-field>

            <mat-form-field>
                <!-- <mat-label>Role</mat-label>
                <input matInput placeholder="Username" ngModel name="role" id="role" #fullName="ngModel"> -->
                <mat-label>Role</mat-label>
                <mat-select (selectionChange)="onChange($event)" ngModel name="role" id="role" #role="ngModel">
                    <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" ngModel id="password" name="password"
                    #email="ngModel">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Sign Up</button>
        </form>
        <div class="reg-link" style="padding-left: 20px;padding-bottom: 20px;">
            <button mat-button routerLink="../login" style="color: #3F51B5;">Sign in instead</button>
        </div>
    </mat-card>
    <div>
</div>