<!-- <div class="container">
  <h1>Menu</h1>
  <button id="add-btn" class="btn btn-primary" [routerLink]="['./add-product/']" *ngIf=isManager>
    <i id="add-icon" class="fa fa-plus" ></i>Add
  </button>
  <button  class="btn btn-primary" [routerLink]="['../cards']">
    <i id="back-icon"class="fa fa-arrow-left" aria-hidden="true"></i>Back
  </button>
</div>
<div class="container">
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Availability</th>
          <th scope="col">Price</th>
          <th scope="col" *ngIf=isManager>Update</th>
          <th scope="col" *ngIf=isManager>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of result">
          <td>{{ r.id }}</td>
          <td>{{ r.name }}</td>
          <td>{{ r.type }}</td>
          <td>{{ r.about }}</td>
          <td>{{ r.availability }}</td>
          <td>{{ r.price }}</td>
          <td *ngIf=isManager>
            <button
              class="btn btn-warning"
              [routerLink]="['./edit-product/', r.id]"
            >
              <i class="fa fa-edit"></i> EDIT
            </button>
          </td>
          <td *ngIf=isManager>
            <button class="btn btn-danger" (click)="deleteProduct(r.id)">
              <i class="fa fa-remove"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<div fxLayoutAlign="center end">
  <div fxLayout="column" fxLayoutAlign="space-evenly start" fxFill fxFlex="80">
    <mat-toolbar color="primary">
      <button mat-icon-button [routerLink]="['../cards']" style="padding-right: 20px; padding-bottom: 0px;">
        <mat-icon>arrow_back</mat-icon>
      </button>
      Menu
    </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-evenly start">
      <div>
        <mat-form-field appearance="fill" autocomplete="off" (keyup)="filterData($event)" style="padding:0;">
          <input matInput placeholder="Search">
        </mat-form-field>
      </div>
      <div style="padding-left: 20px;padding-top: 12px;">
        <button mat-raised-button [routerLink]="['./add-product/']" *ngIf=isManager>
          <mat-icon>add</mat-icon>
          Add Product
         </button>
      </div>
       
    </div>
    <div class="mat-elevation-z8" div fxLayout="column" fxFill>
      <div class="data-table">
        <mat-table matSort [dataSource]="dataSource">

          <ng-container matColumnDef="id">
            <mat-header-cell mat-sort-header *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="about">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.about}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="availability">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Availability </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.availability}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let element">Rs.{{element.price}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions" *ngIf=isManager>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef=" let row" style="justify-content: center;">
              <button mat-icon-button [routerLink]="['./edit-product/', row.id]">
                <mat-icon>launch</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <div class="paginator">
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10,25,100]" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
